body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 75%; z-index: 0 }
#more {display: none;} /* read more button */

#menu {
position: absolute;
background: #efefef;
padding: 10px;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
z-index: 4;
}

/* The sidebar menu */
.sidenav {
height: 100%; /* Full-height: remove this if you want "auto" height */
width: 25%; /* Set the width of the sidebar */
position: fixed; /* Fixed Sidebar (stay in place on scroll) */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
right: 0;
background-color: #FFFFFF; /* Black */
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 10px;
}

/* The navigation menu links */
.sidenav a, .dropdown-btn {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
color: #818181;
display: block;
width: 100%;
}

/* The navigation menu links */
.sidenav ab, .dropdown-btn {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
background-color: #f1f1f1;
display: block;
width: 100%;
}

/* Catalogue Site Names */
.sidenav c, .dropdown-btn {
padding: 6px 8px 6px 20px;
text-decoration: none;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
color: #818181;
display: block;
width: 100%;
}

/* Filter headers */
.sidenav f {
padding: 6px 8px 6px 16px;
text-decoration: none;
/* text-transform: uppercase; */
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
color: #818181;
display: block;
}

/* The navigation menu links */
.sidenav t {
padding: 6px 8px 6px 16px;
text-decoration: none;
/* text-transform: uppercase; */
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
color: #818181;
display: block;
}

/* The navigation menu links */
.sidenav h {
padding: 6px 8px 6px 16px;
text-decoration: none;
/* text-transform: uppercase; */
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
color: #000000;
display: block;
}

.button {
  background-color: white; /* Green */
  border: none;
  color: #818181;
  padding: 6px 8px 6px 16px;
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 12px;
  cursor: pointer;
}

.button:hover {
  color: #f1f1f1;
}

.button1 {width: 100%;}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn-hover {
color: #818181;
}

/* When you mouse over the navigation links, change their color */
.sidenav c:hover, .dropdown-btn-hover {
color: #f1f1f1;
}

/* Style page content */
.main {
margin-left: 200px; /* Same as the width of the sidebar */
padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #FFFFFF;
  color: #c1c1c1;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #FFFFFF;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
  color: #000000;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.twentysixpoint {
  line-height: 14pt;
}

.popup {

}

.popup t {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24pt;
}
